<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="ja"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%=h APPNAME %></title>
<link rel="search" type="application/opensearchdescription+xml" href="<%=h @urimapper.opensearch %>" title="HSPリファレンス">
</head>
<frameset cols='205,*'>
<frame src="<%=h @urimapper.menu(@query) %>" title="<%=h @query.empty? ? 'メニュー' : @query+'の検索結果'%>" name="hdlmenu">
%#% if ref = @db.refs.find_by_name(@query)
%#<frame src="<%=h @urimapper.rid(ref) %>" title="<%=h @query %>のリファレンス" name="hdlmain">
%#% else
<frame src="<%=h @urimapper.home %>" title="ホーム" name="hdlmain">
%#% end
</frameset>
</html>
