<%= head('ホーム', '<strong>Home</strong>') %>
<div class="cmenu">
<a class="citem" href="<%=h @urimapper.refcat() %>"><%= cats_ref() %></a>
<a class="citem" href="<%=h @urimapper.doccat() %>"><%= cats_doc() %></a>
<a class="citem" href="<%=h @urimapper.samcat() %>"><%= cats_sample() %></a>
<div style="clear:both;"></div>
</div>
<h1><%=h APPNAME %> ホーム</h1>
<h2>セクション別カタログ</h2>
<div class="item"><a href="<%=h @urimapper.refcat() %>">リファレンス</a> - 命令 / 関数 キーワード リファレンス</div>
<div class="item"><a href="<%=h @urimapper.doccat() %>">ドキュメント</a> - プログラミングマニュアル、入門書など</div>
<div class="item"><a href="<%=h @urimapper.samcat() %>">サンプル</a> - 実際のスクリプト例</div>
<h2>情報</h2>
<div class="item"><a href="<%=h @urimapper.verinfo() %>">バージョン情報</a></div>

<div id="foot2">OHDL</div>
<%= foot() %>
