<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja"><head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<base target="hdlmain">
<link rel="StyleSheet" type="text/css" href="<%=h @urimapper.uri %>hdlmenu.css">
<script type="text/javascript" src="<%=h @urimapper.uri %>suggest.js"></script>
<script type="text/javascript" src="<%=h @urimapper.function_list_js %>"></script>
<script type="text/javascript" src="<%=h @urimapper.uri %>hdlmenu.js"></script>
<title>OHDL - MENU</title>
</head>
<body>
<div class="head"><%=h APPNAME %></div>
<form target="_self" action="<%=h @urimapper.menu() %>" method="get" class="head" name="search_form">
<input type="text" value="<%=h @query %>" name="q" class="srchbox">
<input type="submit" value="検索" class="srchbtn">
</form>
% if index?
<div class="control">ライブラリ メニュー</div>
% else
<div class="control"><%=h @query %> の検索結果 <a target="_self" href="<%=h @urimapper.menu() %>">[Reset]</a></div>
% end

% each_section do |mode, secname, cats, models|
%   result = search_result(cats, models)

<div class="mh1"><a href="<%=h @urimapper.section(cats) %>"><%=h secname %> (<%=h result.size %> カテゴリ)</a></div>
<div class="md1">
%   if result.empty?
<p>該当するページは見つかりません。</p>
%   else
%     disp_css = index? ? ' style="display:none;"' : ''
%     result.each do |category, models|
<div class="mh2"><a href="<%=h @urimapper.cat_with_section(category, cats) %>">
<%=h catego_disp(category, mode) %> <small><%=h models.size %></small>
</a></div>
<div<%= disp_css %>>
%       if index?
<p><a href="<%=h @urimapper.cat_with_section(category, cats) %>"><%=h catego_disp(category, mode) %> のカタログ</a>
%       end
%       if mode == ?R
%          prev_group = nil
%          models.each do |ref|
%            group = ref.group
%            if prev_group != group
%              if prev_group
</div>
%              end
<div class="mh3"><a href="<%= h(@urimapper.refcat(category)+"#"+strhash(grp_disp(group))) %>"><%=h grp_disp(group) %></a></div>
<div<%= disp_css %>>
%              prev_group = group
%            end
<p><a href="<%=h @urimapper.rid(ref) %>"><%=h ref.name %></a><br><%=h ref.summary %>
%          end
%          if prev_group
</div>
%          end
%       else
%         models.each_with_index do |doc, i|
%           if i >= 100
<p><a href="<%=h @urimapper.did(doc) %>"><%=h doc.title %></a> ..</p>
%           else
<p><a href="<%=h @urimapper.did(doc) %>"><%=h doc.title %></a><br><%=h doc_summary(doc) %><br><i><%=h doc.path %></i></p>
%           end
%         end
%       end
</div>
%     end
%   end
</div>
% end

% names = @db.mosikasite(@query)
% if not names.empty?
<div class="control">もしかして :
%  names.each do |name|
<em><a target="_self" href="<%=h @urimapper.menu(name) %>"><%=h name %></a></em>
%  end
</div>
% end

<% unless index? %><div class="control"><a target="_self" href="<%=h @urimapper.menu() %>">[Reset]</a></div><% end %>

<div class="foot"><%=h APPNAME %></div>
% if false # if ref = @db.refs.find_by_name(@query)
<script type="text/javascript">
window.top.hdlmain.location = "<%=h @urimapper.rid(ref) %>";
</script>
% end
</body></html>
