<%= head(h("Reference - #{dll_disp(@category.name)}"),
         '<a href="'+h(@urimapper.home())+'">Home</a> &rsaquo; <strong>Reference - '+h(dll_disp(@category.name))+'</strong>')
%>


% # セクションセレクタ
<div class="cmenu">
<span class="citemb"><%= cats_ref() %></span>
<a class="citem" href="<%=h @urimapper.doccat() %>"><%= cats_doc() %></a>
<a class="citem" href="<%=h @urimapper.samcat() %>"><%= cats_sample() %></a>
<div style="clear:both;"></div>

% # プラグイン / モジュール セレクタ
% @db.refcats.each do |cat|
%  if cat.name == @category.name
<span class="citemb"><%=h dll_disp(cat.name) %>&nbsp;<small><%=h cat.size %></small></span>
%  else
<a class="citem" href="<%=h @urimapper.refcat(cat.name) %>"><%=h dll_disp(cat.name) %> <small><%=h cat.size %></small></a>
%  end
% end
<div style="clear:both;"></div>
</div>

% # content
<h1><%=h dll_disp(@category.name) %></h1>
% # バージョン 日付 著作者
% @category.metadata.each do |ver, date, author|
<div class="itemsub">
<% unless ver.empty? then %> Version <%=h ver %><% end %>
<% unless date.empty? then %> Date <%=h date %><% end %>
<% unless author.empty? then %> Author <%=h author %><% end %>
</div>
% end

% # 目次
% groups = @category.groups
% if groups.size >= 2
<h2>目次 <small>(<%=h groups.size %> グループ / <%=h @category.size %> ページ)</small></h2>
%  groups.each do |grpname, size|
<div class="itemidx"><a href="#<%=h strhash(grp_disp(grpname)) %>"><%=h grp_disp(grpname) %> <small><%=h size %></small></a></div>
%  end
% end

% # カタログ メイン
% diff = nil
% @category.each do |ref|
%  if diff != ref.group
%   diff = ref.group
<h2 id="<%=h strhash(grp_disp(diff)) %>"><%=h grp_disp(diff) %></h2>
%  end

<div class="item"><a href="<%=h @urimapper.rid(ref) %>"><%=h ref.name %></a><br>
<%=h ref.summary %><br>
<%=h omit_inst(ref) %>
</div>
% end


<%= foot() %>
