<%= head('Version Information',
         '<a href="'+h(@urimapper.home())+'">Home</a> &rsaquo; <strong>Version Information</strong>')
%>
<h1>Version Information</h1>
<p class="summary"><%=h APPNAME %> &nbsp;Version <%=h APPVER %></p>
<p>
<%=h APPSIG_PORT %><br>
<%=h APPSIG_ORIG %><br>
powered by SQLite <%=h @db.sqlite_version() %> / Ruby <%=h RUBY_VERSION %>
</p>
%# <p>Web : <a href="http://sprocket.babyblue.jp/">http://sprocket.babyblue.jp/</a></p>
<h2>Online HSP Document Libraryについて</h2>
<p>Online HSP Document Libraryは<a href="http://sprocket.babyblue.jp/html/dlpage.htm#hdl">HSP Document Library(HDL)</a>のCGIへの移植です。HDLのHTML出力部分を移植し、データベースはHDLにより作られたものを流用しています。</p>
<p>ドキュメントはHSP3.2b3を使用しています。</p>
<h2>ライブラリについて</h2>
<p>このプログラムは、ドキュメントファイルをデータベース化して、効率的に検索や閲覧を行うためのブラウザです。</p>
<p>ライブラリのファイルは、次のディレクトリから検索され、拡張子ごとのセクションに区分されます。</p>
<div class='para'><table class="verinf">
<tr><th rowspan="2">ディレクトリ<th rowspan="2">用途<th colspan="3">検索される拡張子 / 対象セクション</tr>
<tr><th><a href="<%=h @urimapper.refcat() %>">リファレンス</a><th><a href="<%=h @urimapper.doccat() %>">ドキュメント</a><th><a href="<%=h @urimapper.samcat() %>">サンプル</a></tr>
<tr><td>./doclib<td>ドキュメント<td align="center">*.hs<td align="center">*.htm *.html *.txt<td align="center">*.hsp</tr>
<tr><td>./common<td>ヘッダ<td align="center">*.as *.hsp<td align="center">-<td align="center">-</tr>
<tr class="grayout"><td>./hsphelp<td rowspan="3">互換用<td align="center">*.hs<td align="center">-<td align="center">-</tr>
<tr class="grayout"><td>./docs<td align="center">-<td align="center">*.htm *.html *.txt<td align="center">-</tr>
<tr class="grayout"><td>./sample<td align="center">-<td align="center">-<td align="center">*.hsp</tr>
</table></div>
<p>モジュール類のライブラリを新たに追加する場合は、doclib ディレクトリ下にモジュール名のディレクトリを作成し、その中に関連ファイル (.hs .txt .htm .hsp) をまとめて入れると管理しやすくなります。</p>
<p>common ディレクトリからは、ドキュメント付けされたヘッダファイル (hs 形式のヘルプ情報を内蔵した HSP ヘッダファイル) が検索されます。</p>

<%= foot() %>
